MS - Word/Source/Web References/FrontendWS/LinksFuncs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PutLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="compressedText" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutLinksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutLinksResult" type="tns:ArrayOfTextPos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTextPos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TextPos" nillable="true" type="tns:TextPos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TextPos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Pos" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EurovocTextPos">
        <s:complexContent mixed="false">
          <s:extension base="tns:TextPos">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LinkTextPos">
        <s:complexContent mixed="false">
          <s:extension base="tns:TextPos">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Celex" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReferrenceInfo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PutLinksSoapIn">
    <wsdl:part name="parameters" element="tns:PutLinks" />
  </wsdl:message>
  <wsdl:message name="PutLinksSoapOut">
    <wsdl:part name="parameters" element="tns:PutLinksResponse" />
  </wsdl:message>
  <wsdl:portType name="LinksFuncsSoap">
    <wsdl:operation name="PutLinks">
      <wsdl:input message="tns:PutLinksSoapIn" />
      <wsdl:output message="tns:PutLinksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LinksFuncsSoap" type="tns:LinksFuncsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutLinks">
      <soap:operation soapAction="http://tempuri.org/PutLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LinksFuncsSoap12" type="tns:LinksFuncsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutLinks">
      <soap12:operation soapAction="http://tempuri.org/PutLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LinksFuncs">
    <wsdl:port name="LinksFuncsSoap" binding="tns:LinksFuncsSoap">
      <soap:address location="http://frontendws.eucases.eu/LinksFuncs.asmx" />
    </wsdl:port>
    <wsdl:port name="LinksFuncsSoap12" binding="tns:LinksFuncsSoap12">
      <soap12:address location="http://frontendws.eucases.eu/LinksFuncs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>