MS - Word/Source/Service References/ServiceReference/LinkingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EUCases.Tools.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EUCases.Tools.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TextPosWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnotationsTextPos" nillable="true" type="tns:ArrayOfEurovocTextPos" />
      <xs:element minOccurs="0" name="LinksTextPos" nillable="true" type="tns:ArrayOfLinkTextPos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextPosWrapper" nillable="true" type="tns:TextPosWrapper" />
  <xs:complexType name="ArrayOfEurovocTextPos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EurovocTextPos" nillable="true" type="tns:EurovocTextPos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEurovocTextPos" nillable="true" type="tns:ArrayOfEurovocTextPos" />
  <xs:complexType name="EurovocTextPos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextPos">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EurovocTextPos" nillable="true" type="tns:EurovocTextPos" />
  <xs:complexType name="TextPos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Pos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextPos" nillable="true" type="tns:TextPos" />
  <xs:complexType name="ArrayOfLinkTextPos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkTextPos" nillable="true" type="tns:LinkTextPos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinkTextPos" nillable="true" type="tns:ArrayOfLinkTextPos" />
  <xs:complexType name="LinkTextPos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextPos">
        <xs:sequence>
          <xs:element minOccurs="0" name="Celex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferrenceInfo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LinkTextPos" nillable="true" type="tns:LinkTextPos" />
</xs:schema>